@media screen and (max-width: 750px) {
    .Breaks{
        width: 95% !important;
        
        div{
            margin: 0px 5px !important;
        }
        .off{
            margin: 0px !important;
        }
    }
    .Timer{
        h1{
            font-size: 100px !important;
        }
    }
    .ControlInterface{
        
        user-select: none;
        &>div{
            width: 90% !important;    
        }
        .ControlZone{
        
            div{
                
                h1{
                    font-size: 40px !important;
                    margin: 15px 2px !important;
                }   
            }
            .progresse{
                width: 160px !important;height: 45px !important;

                span{
                    width: 60%;
                    height: 100%;

                }
            }
            
        }
    }
    
}

@media screen and (max-width: 500px) {
    .darkMode{
        right: 5% !important;
        width: 100px !important;
    }
    .TopInterface{
        h2{
            font-size: 18px !important;
        }
        span{
            p,span{
                font-size: 11px ;
            }
        }
    }
    
    .Breaks{
        
        
        div{
            margin: 0px 1px !important;
            width: 30px !important;height: 30px !important;
        }
        .off{
            margin: 0px !important;
            width: 0px !important;
            height: 0px !important;
        }}
        
        .ControlZone{
           
            &>p{
        
                font-size: 10px;
            }
             div{
                 h1{
                     font-size: 30px !important;
                     margin: 15px 15px !important;
                 }   
                 span{
                    font-size: 20px !important;
                 }
             }
             .progresse{
                 width: 200px !important;height: 45px !important;
 
                 
             }
         }
    
    
}
@media screen and (max-height: 650px) {

.Interface{
    
    font-size: 12px !important;
    .darkMode{
        width: 90px !important;
        border: 2px solid !important;
        height: 10px;
    }

    .ControlInterface{
        h1{
            font-size: 40px !important;
        }
        .progresse{
            height: 40px !important;
        }
    }
    .Timer{
        height: 70px !important;
        h1{
    font-size: 60px !important;
    margin:10px 0px !important;
    width: 80px !important;


        }
        
    }
    .TimerInterface{
        p{
            font-size: 10px !important;
        }
    }
    .StartTimer{
        div{
            width: 70px !important;height: 40px !important;
            border: 2px solid !important;
        }
        
    }
    .Breaks{
        margin: 0px !important;
        div{
            width: 20px !important;height: 20px !important;
            
        }
        .off{
            width: 0px !important; height: 0px !important;
        }
    }
   
    
}
.on{
    .Timer{
        h1{
           font-size: 70px !important;
            margin: 0px !important;
        }
     
        height: 40% !important;
    }
}



}